<div id="form-container">
  <div class="container">
    <div class="d-flex">
      <div class="form col-4" id="info">
        <%= simple_form_for(island) do |f| %>
          <%= f.input :name %>
          <%= f.input :country %>
          <%= f.input :longitude %>
          <%= f.input :latitude %>
          <%= f.input :area %>
          <%= f.input :price_per_day %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="form col-8" id="description">
        <%= simple_form_for(island) do |f| %>
          <%= f.input :description, as: :text %>
        <% end %>
      </div>

    </div>

  </div>
</div>


