<% islands.each do |island| %>
  <div class="island-card">
    <%= link_to island_path(island) do %>
      <% if island.photos.attached?%>
        <%= cl_image_tag island.photos[0].key, class: "island-picture" %>
      <% else %>
        <%= image_tag "missing_img.jpg", class: "island-picture" %>
      <% end %>
    <% end %>
    <div class="info">
      <h5><%= island.name %> - <span class="country-name"><%= island.country %><i class="country-flag"></i></span></h5>
      <h6> <strong><%= island.price_per_day %></strong>/ day</h6>
    </div>
  </div>
<% end %>
