<%= render 'shared/searchbar' %>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-7">
    <div class="index-title">
      <h1>Islands</h1>
    </div>
    <% if @islands.empty?%>
      <h2>Sorry this Island is not on the list</h2>
      <h4>Have a look at this</h4>
      <%= render "island_card_index", islands: @islands_all %>
    <% else %>
      <%= render "island_card_index", islands: @islands %>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-5">
    <div id="map"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
