<br>

<%= link_to "Back", islands_path, class: "button back" %>

<div class="container">

  <h1 class="title"><%= @island.name %></h1>
  <p><%= @island.description %></p>
  <div class="row">
  <div class="col-12 lg-6 col-xl-7 image-container">
    <% if @island.photo.attached? %>
      <%= cl_image_tag @island.photo.key %>
    <% else %>
      <%= image_tag "missing_img.jpg", id: "image"%>
    <% end %>
  </div>
  <div class="col-6 lg-6 col-xl-5 booking">
    <h3><%= @island.price_per_day %> $ / day</h3>
    <%= link_to "Book this island", new_island_booking_path(@island), class: "button book" %>
  </div>
  </div>
</div>

