<div id="show-island-container">
  <div id="show-island-images">
    <div id="show-island-image-big">
    <h1><%= @island.name %></h1>
      <span id="big-img">
        <% if @island.photos.attached?%>
          <%= cl_image_tag @island.photos[0].key %>
        <% else %>
          <%= image_tag "missing_img"%>
        <% end %>
      </span>
    </div>

    <div id="show-island-images-small">
        <div class="show-island-image-small-container">
          <span class="small-img">
            <% if @island.photos[1] != nil %>
              <%= cl_image_tag @island.photos[1].key %>
            <% else %>
              <%= image_tag "missing_img"%>
            <% end %>
          </span>
        </div>
        <div class="show-island-image-small-container">
          <span class="small-img">
            <% if @island.photos[2] != nil %>
              <%= cl_image_tag @island.photos[2].key %>
            <% else %>
              <%= image_tag "missing_img"%>
            <% end %>
          </span>
        </div>
        <div class="show-island-image-small-container">
          <span class="small-img">
            <% if @island.photos[3] != nil %>
              <%= cl_image_tag @island.photos[3].key %>
            <% else %>
              <%= image_tag "missing_img"%>
            <% end %>
          </span>
        </div>
        <div class="show-island-image-small-container">
          <span class="small-img">
            <% if @island.photos[4] != nil %>
              <%= cl_image_tag @island.photos[4].key %>
            <% else %>
              <%= image_tag "missing_img"%>
            <% end %>
          </span>
        </div>
    </div>
  </div>

  <div id="show-island-infos-container">
    <div id="show-island-infos">
      <h4><%= @island.name %> - <span class="country-name"><%= @island.country %><i class="country-flag"></i></span></h4>
      <span>Owner: <strong><%= @island.user.username %></strong></span>
      <div id="show-island-infos-content">
        <%= @island.description %>
      </div>
      <div id="show-island-more-infos">
      More infos : <br>
      <i class="fas fa-chart-area"></i> <%= @island.area %> km²
      <br>
      <i class="fas fa-compass"></i> <%= @island.latitude %>, <%= @island.longitude %>
      </div>
    </div>
    
    <div id="show-island-booking-form">
      <span>Select dates to see the price: <i class="fas fa-dollar-sign"> <%= @island.price_per_day %> / day</i></span>
      <%= simple_form_for([@island, @booking]) do |f| %>
        <div id="booking-form-dates">
          <%= f.input :start_date, as: :string, required: false, input_html: { id: "range_start" }  %>
          <%= f.input :end_date, as: :string, required: false, input_html: { id: "range_end" } %>
        </div>
        <div id="booking-form-bottom">
          <div id="booking-form-infos">
            Length of stay : <span id="length-of-stay"></span> days <br>
            Total price : <i class="fas fa-dollar-sign"></i> <strong><span id="total-price", data-price=<%= "#{@island.price_per_day}" %>></span></strong>
          </div>
          <%= f.submit id: 'btn-submit-booking' %>
        </div>

      <% end %>
    </div>
  </div>

</div>
