<br>

<%= link_to "Back", islands_path, class: "button back" %>

<div class="container">

  <h1><%= @island.name %></h1>
  <p><%= @island.description %></p>

  <div class="image-container">
    <% if @island.photo.attached? %>
      <%= cl_image_tag @island.photo.key %>
    <% else %>
      <%= image_tag "missing_img.jpg", id: "image"%>
    <% end %>
  </div>
  <div class="booking">
    <h3><%= @island.price_per_day %> $ / day</h3>
    <%= link_to "Book this island", new_island_booking_path(@island), class: "button book" %>
  </div>
  <%= link_to "Back", islands_path %>
  <br>
  <% if current_user != @island.user %>
    <%= link_to "Book this island", new_island_booking_path(@island) %>
  <% end %>
</div>

