<div id="bookings-index" class="container">

  <% if current_user.islands != [] %>
    <div id="user-islands-bookings">
      <div class="user-bookings-header">
        <h3>My islands bookings</h3>
        <div class="user-bookings-selector">
          <div class="selector-name">Island :</div>
          <select class="select2" id="island-selector">
            <option value="all">All</option>
            <% current_user.islands.each do |island| %>
              <option value=<%= island.name %>><%= island.name %></option>
            <% end %>
          </select>
        </div>
        <div class="user-bookings-selector">
          <div class="selector-name">State :</div>
          <select class="select2" id="island-bookings-state">
            <option value="all">All</option>
            <option value="waiting">Waiting</option>
            <option value="accepted">Accepted</option>
            <option value="refused">Refused</option>
            <option value="canceled">Canceled</option>
          </select>
        </div>
      </div>
      <div id="user-islands-bookings-list">
        <% if @all_islands_bookings != [] %>
          <% @all_islands_bookings.sort_by(&:created_at).each do |booking| %>
            <div class="<%= "island-name island-#{booking.island.name.downcase}" %>" data-name=<%= "#{booking.island.name.downcase}" %>>
              <div class="island-booking <%= "booking-#{booking.state.downcase}" %>" data-state=<%= "#{booking.state.downcase}" %>>
                <div class="island-booking-content">
                  <div class="island-booking-left">
                    <div>
                      <%= booking.created_at %>
                      <br>
                      <strong><%= booking.user.username %></strong> has booked <strong><%= booking.island.name %></strong>
                      <br>
                      <i class="fas fa-calendar-alt"></i> from <%= booking.start_date %> to <%= booking.end_date %>
                    </div>
                  </div>
                  <div class="island-booking-center">
                    <div>
                      Length of stay : <%= (booking.end_date - booking.start_date).ceil %> days
                      <br>
                      <br>
                      Total price : <i class="fas fa-dollar-sign"></i> <%= (booking.end_date - booking.start_date).ceil * booking.island.price_per_day %>
                    </div>
                  </div>
                  <div class="island-booking-right">
                    <span class="<%= "booking-state-#{booking.state.downcase}" %>"><%= booking.state %></span>
                    <% if booking.state == "Waiting" %>
                      <%= link_to accept_booking_path(booking), method: :patch, title: 'Accept booking', data: { toggle: 'tooltip', confirm: "Are you sure?" }, class: "accept-booking" do %>
                        <i class="fas fa-check-circle"></i>
                      <% end %>
                      <%= link_to refuse_booking_path(booking), method: :patch, title: 'Refuse booking', data: { toggle: 'tooltip', confirm: "Are you sure?" }, class: "refuse-booking" do %>
                        <i class="fas fa-times-circle"></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="user-bookings">
    <div class="user-bookings-header">
      <h3>My bookings</h3>
      <div class="user-bookings-selector">
        <div class="selector-name">State :</div>
        <select class="select2" id="user-bookings-state">
          <option value="all">All</option>
          <option value="waiting">Waiting</option>
          <option value="accepted">Accepted</option>
          <option value="refused">Refused</option>
          <option value="canceled">Canceled</option>
        </select>
      </div>
    </div>
    <% if current_user.bookings != [] %>
      <div id="user-bookings-list">
        <% @user_bookings.each do |booking| %>
          <div class="user-booking" data-state=<%= "#{booking.state.downcase}" %>>
            <div class="user-booking-content">
              <div class="user-booking-left">
                <div>
                  <h6>Booking for the island <strong><%= booking.island.name %></strong><br>
                  Owner : <strong><%= booking.island.user.username %></strong></h6>
                  <i class="fas fa-calendar-alt"></i> from <%= booking.start_date %> to <%= booking.end_date %>
                </div>
              </div>
              <div class="user-booking-center">
                <div>
                  Length of stay : <%= (booking.end_date - booking.start_date).ceil %> days
                  <br>
                  <br>
                  Total price : <i class="fas fa-dollar-sign"></i> <%= (booking.end_date - booking.start_date).ceil * booking.island.price_per_day %>
                  <br>
                </div>
              </div>
              <div class="user-booking-right">
                <% if booking.state == "Waiting" %>
                  <span class="<%= "booking-state-#{booking.state.downcase}" %>"><%= booking.state %></span>
                  <%= link_to cancel_booking_path(booking), method: :patch, title: 'Cancel booking', data: { toggle: 'tooltip', confirm: "Are you sure?" }, class: "cancel-booking" do %>
                    <i class="fas fa-times-circle"></i>
                  <% end %>
                <%  elsif booking.state == "Accepted" %>
                  <span class="<%= "booking-state-#{booking.state.downcase}" %>"><%= booking.state %></span>
                  <% unless booking.order && booking.order.state == "paid"%>
                    <%= form_tag orders_path do %>
                      <%= hidden_field_tag 'booking_id', booking.id %>
                      <%= submit_tag 'Purchase', class: 'btn btn-purchase', id: 'purchase' %>
                    <% end %>
                  <% end %>
                <% elsif booking.order.state == "paid" %>
                  <span class="booking-paid <%= "booking-state-#{booking.state.downcase}" %>"> Paid </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>You haven't made a booking yet</p>
    <% end %>
  </div>

</div>



