<div id="form-container" class="container">
  <%= simple_form_for(island) do |f| %>
    <div id="info">
      <%= f.input :name, placeholder: "Bora-Bora" %>
      <%= f.input :country, as: :country, selected: island.country %>
      <%= f.input :latitude, placeholder: "-16.5046"%>
      <%= f.input :longitude, placeholder: "-151.743" %>
      <%= f.input :area, placeholder: "32 km²" %>
      <%= f.input :price_per_day, placeholder: "$ 75000" %>
      <%= f.input :description, as: :text %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Submit", class: "button" %>
    </div>
  <% end %>
</div>
