<div id="form-container">
  <%= simple_form_for(island) do |f| %>
    <div class="container">
      <div class="d-flex">
        <div class="form col-4" id="info">
          <%= f.input :name %>
          <%= f.input :country, as: :country, selected: island.country %>
          <%= f.input :longitude %>
          <%= f.input :latitude %>
          <%= f.input :area %>
          <%= f.input :price_per_day %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>

        <div class="form col-8" id="description">
          <%= f.input :description, as: :text %>
        </div>
      </div>
    </div>
  <% end %>
</div>
